@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  background-color: #09090b;
  scrollbar-width: thin;
  /* Make scrollbar thinner */
  scrollbar-color: #444 #1a1a1a;
  /* Thumb and track colors */
  scroll-behavior: smooth;
}

/* For WebKit-based browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 8px;
  /* Width of the scrollbar */
  height: 8px;
  /* Height of the scrollbar */
}

::-webkit-scrollbar-track {
  background-color: #1a1a1a;
  /* Track color (dark gray) */
}

::-webkit-scrollbar-thumb {
  background-color: #444;
  /* Thumb color (slightly lighter gray) */
  border-radius: 4px;
  /* Roundness of the thumb */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
  /* Thumb color on hover */
}

/* For Internet Explorer (fallback, basic styling) */
body {
  -ms-overflow-style: -ms-autohiding-scrollbar;
}


.vignette {
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 0%, rgba(9, 9, 11, 0.6) 80%, rgba(9, 9, 11, 1) 100%);
}


.image-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 0, 0, 0);
  /* Start with no tint */
  transition: background-color 1s ease 3s;
  pointer-events: none;
  animation: showTint 4s ease 1s forwards;
  /* Add an animation */
}

@keyframes showTint {
  to {
    background-color: rgb(17, 24, 39);
    /* Tint after delay */
  }
}

.tint {
  background-color: rgba(17, 24, 39, 0.6);
}


.fade {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 20%, rgba(9, 9, 11, 0.95) 92%, rgba(9, 9, 11, 1) 100%);
}

.shadowx {
  box-shadow: 0 30px 40px rgba(0, 0, 0, .1);
}

.transition-all {
  transition-property: width, margin-left, transform, opacity;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

@keyframes textReveal {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.text-reveal {
  animation: textReveal 1s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    scale: 0.99;
  }

  to {
    opacity: 0.35;
    scale: 1;
  }
}

.fade-in {
  opacity: 0;
  /* Initial opacity */
  animation: fadeIn 4s ease-in-out forwards;
  /* Adjust the duration and easing */
}

.gradient-text {
  background: -webkit-linear-gradient(rgba(194, 194, 201, 0.3), rgba(67, 67, 67, 0.3));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.dock-active {
  background-color: rgba(71, 85, 105, 0.4);
}